image: node:alpine

stages:
  - npm

default:
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - node_modules/
      - .pnpm-store/
  before_script:
    - wget -qO /bin/pnpm "https://github.com/pnpm/pnpm/releases/latest/download/pnpm-linuxstatic-x64" && chmod +x /bin/pnpm
    - pnpm config set store-dir .pnpm-store

build:
  stage: npm
  script:
    - pnpm i
    - pnpm build:all

lint:
  stage: npm
  script:
    - pnpm i
    - pnpm lint

jest:
  stage: npm
  script:
    - pnpm i
    - pnpm test:ci
  artifacts:
    when: always
    reports:
      junit: junit.xml
