image: node:alpine

stages:
  - npm

default:
  cache:
    key: "$CI_COMMIT_REF_NAME"
    paths:
      - node_modules/
      - .pnpm-store/
  before_script:
    - npm install -g pnpm
    - pnpm config set store-dir .pnpm-store

build:
  stage: npm
  script:
    - pnpm i
    - pnpm build:all

lint:
  stage: npm
  script:
    - pnpm i
    - pnpm lint

jest:
  stage: npm
  script:
    - pnpm i
    - pnpm test
  artifacts:
    when: always
    reports:
      junit: junit.xml
